// Place all the styles related to the expenses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#nav{
  a.nav{
    text-decoration: none;
    display: block;
    height: 20px;
    border: 1px solid black;
    text-align: center;
    padding-top: 7px;
  }
  
  a.nav:hover{
    color: white;
  }
}

#control_bar{
  display:none;
}

ul#expenses{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  position: relative;
  float: right;
  
  li:nth-child(odd){ 
    background-color:#eee;
    
    input[type='text']{
      background-color: #eee;
    }
  }
  
  li:nth-child(even){ 
    background-color:#fff; 
  }  
  
  li.header{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 1px;
  }
  
  li{
    margin-top: -1px;
    min-height: 25px;
    min-width: 100%;
    padding-top: 5px;  
    position: relative;
    
    span.invalid_entry{
      display: none;
      background-color: rgba(170, 34, 34, 0.9);
      margin-top: 33px;
      position: absolute;
      left: 50px;
      z-index: 1000;
      padding: 3px 6px 5px 6px;
      -moz-border-radius: 4px;
      -o-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      box-shadow: 1px 2px 4px rgba( 0, 0, 0, 0.5);
      
      span.arrow-border {
        border-color: transparent transparent rgba(178, 34, 34, 0.9) transparent;
        border-style: solid;
        border-width: 8px;
        height:0;
        width:0;
        position: absolute;
        z-index: 2000;
        top: -15px;
        left: 120px;
      }
      
      span.chat-bubble-arrow {
          _border-left-color: pink;
          _border-bottom-color: pink;
          _border-right-color: pink;
          _filter: chroma(color=pink);
      }
      
      span.text{
        color: white;
      }
      
    }
        
    input[type='text']{
      border: none;
      min-height: 28px;
      margin-top: -5px;
      margin-left: 0px;
    } 

    input[type='text']:focus{
      outline: none;
      background-color: lightyellow;
    }   
    
    a.delete{
      float: right;
      display: none;
      text-decoration: none;
      width: 24px;
      min-width: 24px;
      max-width: 24px;
      height: 25px;
      min-height: 25px;
      max-height: 25px;
      background-image: url("/assets/delete.png");
      background-repeat: no-repeat;
      opacity: 0.75;
      position: relative;
      background-size: 85%;
      background-position: 2px;
      top: -2px;
      -webkit-transition-property: background-size, opacity;
      -webkit-transition-duration: .1s;
      -webkit-transition-function: ease-out;
      -moz-transition-property: background-size, opacity;
      -moz-transition-duration: .1s;
      -moz-transition-function: ease-out;
      -o-transition-property: background-size, opacity;
      -o-transition-duration: .1s;
      -o-transition-function: ease-out;
      transition-property: background-size, opacity;
      transition-duration: .1s;
      transition-function: ease-out;
    } 
    
    a.delete:hover{
      background-color: white;
      background-size: 100%;
      background-position: 0px;
      opacity: 0.85;
    }
    
    a.delete:active{
      opacity:1.0;
    }
  }
  
  li:hover{
    a.delete{
      display: block;
    }
  }
  
  li.header{
    font-weight: bold;
    
    span.date{
      margin-left: 0px;
    }
    
    span.amount{
      margin-left: 5px;
    }
    
    span.reason{
      margin-left: 0px;
    }
  }
}

#header{
  position: relative;
  
  #balance_sheet{
    list-style-type: none;
    margin-left: -5px;
  }
  
  h2{
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  
  #add_transaction{
    position: absolute;
    right: 0px;
    top: 90px;
    text-decoration: none;
    border: 1px solid black;
    text-align: center;
    padding: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: black;
  }
  
  #add_transaction:hover{
    color: white;
  }
}


div.calendar{
  width: 217px;
  height: 176px;
  background-color: #FFFFFF;
  position: absolute;
  top: 30px;
  z-index: 1000;
  border: 1px solid black;
  border-right: none;
  border-bottom: none;
  
  a:visited{
    color: black;
  }
  
  a.close{
    float: right;
    position: relative;
    top: -20px;
    left: 8px;
    text-decoration: none;
    background-color: darkred;
    padding: 2px 5px;
    color: white;
    font-weight: bold;
    -webkit-border-radius: 15px;
  }
  
  span.prev_month{
    width: 0px;
    height: 0px;
    border-width: 7px;
    border-style: solid;
    position: absolute;
    top: 5px;
    border-color: transparent black transparent transparent;
    left: 0px;
  }
  
  span.next_month{
    width: 0px;
    height: 0px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent transparent black;
    position: absolute;
    top: 5px;
    right:0px;
  }
  
  span.prev_month:hover, span.next_month:hover{
    cursor: pointer;
  }
  
  div.cal_header{
    border-bottom:1px solid black;
    border-right: 1px solid black;
    width: 216px;
    height:25px;
    background-color: #FFFFFF;
    text-align: center;
    margin-top: 3px;
  }
  
  div.dates{
    margin: 0px;
    padding: 0px;
    
    a.day{
      width: 30px;
      text-decoration: none;
      float: left;
      min-width: 30px;
      text-align: center;
      min-height: 24px;
      border-right: 1px solid black;
      border-bottom: 1px solid black;
    }
    
    a.day:hover{
      background-color: white;
      color: black;
    }
    
    a.today{
      width: 30px;
      float: left;
      min-width: 29px;
      text-align: center;
      min-height: 24px;
      border-right: 1px solid black;
      border-bottom: 1px solid black;
      background-color: lightyellow;
    }
  }
  
  div.cal_footer{
    margin: -1px 0px 0px -1px;
    padding: 0px;
    clear: both;
    width: 217px;
    height: 25px;
    position: relative;
    top: -1px;
    min-height: 25px;
    text-align: center;
    border: 1px solid black;
  }
}